.arrow_up{
    position: fixed;
    text-align: center;
    right: 3rem;
    bottom: 3rem;
    width:2rem;
    height:2rem;
    padding-top: 0.1rem;
    line-height: 2rem;
    border-radius: 100%;

    /*java추가 기능
    transition: all 1000ms;
    opacity: 0;
    처음에는 안나오게 오퍼시티 영 */
}
